<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crushes Form</title>

    <link rel="stylesheet" href="/media/css/matcher.css">
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  
  
</head>
<body>

  <div class="loader-container" id="loaderContainer">
    <img src="/media/blac.gif" alt="Loader" height="100px" width="100px">
</div>
   

  <div style="text-align: center; margin-bottom: -130px;"><h1 style="font-size: 3em; color: rgb(255 24 24); font-weight: bold;">ST ANDREWS CUPID</h1> <h3 style="color:#000000">Signed in as <span style="font-style: italic; text-decoration: underline;">{{user_email}}</span>,   <span style="color: springgreen;">
    
    {% if crushed_count == 0 %}{{crushed_count}} People have crushed on you {% endif %}
    {% if crushed_count == 1 %}{{crushed_count}} Person has a crush on you {% endif %}
    {% if crushed_count > 1 %}{{crushed_count}} People have crushed on you {% endif %}
    
  
  
  
  </span> </h3></div>


 

  <div style="display: flex;margin-top: 170px;margin-left: 30px;">
   
        <div class="styled-select" style="margin-left: 50px;height: 65px;">
              <label for="mySelect">Select an option:</label>
            <!-- <select id="mySelect" name="mySelect" class="select2">

              {% for contacts in all_contacts %}
                <option value="{{contacts.email}}">{{contacts.name}} -- {{contacts.email|slice:":30"}}</option>
              {% endfor %}
            </select> -->
            <select id="mySelect" name="mySelect" class="select2"></select>

            <button class="refresh_select"  onclick="refreshselect()">Find Crush</button>

      </div>



      <div class="crush-input" style="margin-left: 50px;display: none;background-color: #ffffff;padding: 10px;border-radius: 5px;height: 100px;width: 40%;">
        <input type="text" class="fname-input" id="fname-input" placeholder="Crush First Name">
        <input type="text" class="sname-input" id="sname-input" placeholder="Crush Last Name">
        <input type="text" class="email-input" id="email-input" placeholder="Crush Email">

        <button class="submit_crush" id="submit_crush" onclick="submitcrush()">Submit Crush</button>
        <h3 class="congrats" style="font-size: 3em; color:#00ffad; font-weight: bold;display: none;">Congrats, you have a match</h3>
        <h3 class="dbadded" style="font-size: 2em; color:#00ffad; font-weight: bold;display: none;">Crush added to encrypted hash table</h3>
      </div>

      <div style="margin-left: 50px;margin-top: -22px;">
              <table class="custom-table">
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Crush Name</th>
                      <th>Crush Email</th>
                      <th>Match</th>
                      
                    </tr>
                  </thead>
                  <tbody>

              {% for table in login_crush_table_list %}
              <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{table.crush_name}}</td>
                  <td>{{table.crush_email|slice:":30"}}</td>
                  <td>{{table.matched}}</td>
              </tr>

                  {% endfor %}
          </tbody>
          </table>
    </div>
  </div>
<script>

$( document ).ready(function() {
  // $('#mySelect').select2();
  $('#mySelect').select2({
    ajax: {
        url: '/dashboard/results',
        dataType: 'json',
        delay: 250,
        data: function (params) {
            return {
                q: params.term,
                // page: params.page
            };
        },
        processResults: function (data, params) {
            // process and return the data
            return {
                results: data.items,
                pagination: {
                    more: false  // Since we're not implementing pagination in this example
                }
            };
        },
        cache: true
    },
    placeholder: 'Enter crush name...',
    minimumInputLength: 1
});

   
});


function refreshselect() {
  var dropdownselect = $('#mySelect').val();
        
        // var dropdownselect = document.getElementById('mySelect').value;
        if (dropdownselect.trim() === '') {
            return;
        }
      
        else{
            $.ajax({
                url: "/dashboard/matcherview",
                method: "Post",
                data: {
                   'dropdownselectemail': dropdownselect,
                        
                    },
                success: function(response){
                   
                  fname=response.fname
                  sname=response.sname
                  email=response.email
                  $('.fname-input').val(response.fname);
                  $('.sname-input').val(response.sname);
                  $('.email-input').val(response.email);

                  $('.styled-select').hide();
                  $('.crush-input').show();
                               
                }
            });
        }

    }



    function submitcrush() {
    
      
    var fname = document.getElementById('fname-input').value;
    var sname = document.getElementById('sname-input').value;
    var emmaiil = document.getElementById('email-input').value;

    if (fname.trim() === '') {
        $('#fname-input').css('border', '1px solid red');
        return;
    } else {
        $('#fname-input').css('border', ''); // Reset border if it was set previously
    }

    if (sname.trim() === '') {
        $('#sname-input').css('border', '1px solid red');
        return;
    } else {
        $('#sname-input').css('border', ''); // Reset border if it was set previously
    }

    if (emmaiil.trim() === '') {
        $('#email-input').css('border', '1px solid red');
        return;
    } else {
        $('#email-input').css('border', ''); // Reset border if it was set previously
    }
    var submit_crush = document.getElementById('submit_crush');
    submit_crush.disabled = true;
    submit_crush.style.opacity = 0.5; 
    $('.loader-container').show()
    $.ajax({
      
        url: "/dashboard/checkformatch",
        method: "POST", // "Post" should be in uppercase
        data: {
            'fname': fname,
            'sname': sname,
            'emmaiil': emmaiil
        },
        success: function (response) {
          submit_crush.disabled = false;
          submit_crush.style.opacity = 1; 
          $('.loader-container').hide()

          congrats=response.congrats
         if (congrats=='yes')
          {
            $('.congrats').show();
            $('.dbadded').show()
          }
          else{
            $('.dbadded').show()
          }

          setTimeout(function () {
                location.reload();
            }, 4000);

        }
    });
}

    
  
</script>

</body>
</html>


